.card {
    border-radius: 10px;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
    padding: 30px;
    margin: 20px;
    width: 300px;
    height: 550px;
    transition: all 0.3s ease-out;
    background-color: #20425e;
    display: flex;
  }

  .centro {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  .img{

    width: 300px;
    height: 300px;
   }

   .a1{
margin-top: 305px;
float: left;
margin-left: -300px;
color: white;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 20px;
   }

   .a2{
    margin-top: 330px;
 
    margin-left: -300px;
    color: #9acddc;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    width: 370px;
       }

       
   .a3{
    margin-top: 35px;
 
    margin-left: -302px;
    color: #9acddc;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    
       }

       
   .a4{
    margin-top: -40px;
 
    margin-left: -100px;
    color: #9acddc;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    
       }

       hr{
        border: 0;
	border-top: 1px solid #9acddc;
    width: 305px;
    margin-left: -300px;
       }


    .img2{
        width: 70px;
        height: 70px;
        margin-top: 30px;
        margin-left: -300px;
    }

    .a5{
        font-size: 15px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin-top: -50px;
        color: #9acddc;
        text-align: justify;
        width: 300px;
        margin-left: -215px;
    }